{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>MedAccessPH</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>

</head>
  <style type="text/css">
    body {
    	background-image: url({% static '1.png' %});
    	max-height: 100px;
    }
    .dark-blue {
    	color: #19647e;
	}
    .ui.center.aligned.middle.aligned.grid{
    	margin-top: 100px;
    }
    .dark-red {
    	color: #892a2c;
    }
    .custom {
    	color: #957186;
    }

.ui.toggle.checkbox {
    min-height: 3.5rem;
}

  </style>

<body>
<!-- NAV BAR -->
<div class="ui fixed inverted menu" style="background-color: #335c67">
   <div class="ui container">     
		<a href="/" class="header item">       
			<i class="treatment icon"></i>       
			MedAccessPH   {{name}}  
		</a>
  <a href="#" class="right active item"><i class="home icon"></i></a>
  <div class="ui simple dropdown item">       
  	<i class="settings icon"></i>
   	<i class="dropdown icon"></i>       
   	<div class="menu">         
   		<a class="item" href="/view">View Hospitals</a>         
   		<a class="item" href="">Edit Details</a>    
   	</div>     
  </div>
  <a href="#" class="item"><i class="sign out icon"></i></a>
</div>
</div>

<div class="ui center aligned middle aligned equal height grid">
	<div class="ui two column grid">
		<div class="five wide column">
			<div class="ui icon header">
				<i class="send outline icon dark-red"></i>
				<div class="content" style="font-size:25px; line-height:30px">
					Send a Request
					<div class="sub header">for an ambulance</div>
				</div>
			</div>
			<div class="ui form left aligned segment">
				<div class="ui content">
					<form class="ui form">
						<div class="field">
							<div class="ui selection dropdown">
								<input name="case">
  								<i class="dropdown icon"></i>
  								<div class="default text">Case</div>
								<div class="menu">
									<div class="item" data-value="jenny">New</div>
									<div class="item" data-value="jenny">New</div>
									<div class="item" data-value="jenny">New</div>
									<div class="item" data-value="jenny">New</div>
									<div class="item" data-value="jenny">New</div>
								</div>
							</div>
						</div>
					<div class="ui two buttons">
					<div id="editsettingsbutton" class="ui button"><i class="edit icon"></i>More...</div>
					<div id="sendbutton" class="ui blue submit button">Search</div>		
					</div>
					
					</form>
				</div>
			</div>
		</div>
		<div class="five wide left column">
			<div class="ui icon header">
			<i class="wait icon dark-red"></i>
			<div class="content" style="font-size:25px; line-height:30px">
				Update Availability
				<div class="sub header">of resources</div>
			</div>
			</div>
			<div class="ui center aligned segment">
			   <div class="ui two column grid">
                    <div class="column">
                    <h3 class="ui header">Accepting</h3>
                    	<div id="yo" class="ui huge toggle checkbox">
                    <input type="checkbox" name="public" id="toggle-1"><label class="dn" for="toggle-1" data-content="ON"> </label>
                    </div>
                    </div>
                    <div class="column">
                        <h3 class="ui header">Ambulance</h3>
                        <div id="yo" class="ui toggle checkbox">
                   <input type="checkbox" name="public" id="toggle-2"><label class="dn" for="toggle-2" data-content="ON"> </label>
                   </div>
                   </div>
                </div>
			</div>
		</div>
	</div>
</div>

<!-- Advance send -->
<div id="editsettings" class="ui small modal">
	<i class="close icon"></i>
  <div class="header">
    <i class="send icon dark-red"></i><font color="#892a2c" size="5px"> Advanced Send Request</font>
  </div>
  <div class="content">
  	<form id="settings" class="ui form" method="POST"> {% csrf_token %}
		<div class="ui three fields">
		<div class="field">
			<div class="ui selection dropdown">
				<input name="level">
					<i class="dropdown icon"></i>
					<div class="default text">Level</div>
				<div class="menu">
					<div class="item" data-value="l1">Level 1</div>
					<div class="item" data-value="l2">Level 2</div>
					<div class="item" data-value="l3">Level 3</div>
				</div>
			</div>
		</div>
		<div class="field">
			<div class="ui toggle checkbox">
        	<input name="philhealth" tabindex="0" class="hidden" type="checkbox">
        	<label style="margin-top:7px">Philhealth Accredited</label>
      		</div>
		</div>
		<div class="field">
			<div class="ui selection dropdown">
				<input name="level">
					<i class="dropdown icon"></i>
					<div class="default text">Case</div>
				<div class="menu">
					<div class="item" data-value="l1">Case 1</div>
					<div class="item" data-value="l2">Case 2</div>
					<div class="item" data-value="l3">Case 3</div>
				</div>
			</div>
		</div>
		</div>

		  <div class="ui two fields">
		  <div class=" field">
		    <label>Location</label>
		    <div class="ui selection dropdown">
					<input name="location">
						<i class="dropdown icon"></i>
						<div class="default text">Location</div>
					<div class="menu">
						<div class="item" data-value="jenny">New</div>
						<div class="item" data-value="jenny">New</div>
						<div class="item" data-value="jenny">New</div>
						<div class="item" data-value="jenny">New</div>
						<div class="item" data-value="jenny">New</div>
					</div>
				</div>
		  </div>
		  <div class="field">
		    <label>Needed Equipment</label>
		    <input name="neededequip" placeholder="Needed Equipment" type="text">
		  </div>
		  </div>
		  <div class="field">
		    <label>Remarks / Prognosis</label>
		    <textarea rows="2"></textarea>
		  </div>
	</div>
  <div class="actions">
  	<!-- may aayusin pa sa cancel button: magrreset dapat yung form kapag cinancel -->
    <div class="ui red cancel button">Cancel</div> 
    <div id="sendbutton2" class="ui green submit button">Send</div>
</div>
</form>
</div>
</div>

<!-- Search hospital (send lang) -->
<div id="searchhospital" class="ui small modal">
	<div class="ui large text loader"><h3>Searching for a hospital...</h3>Press the ESC key to cancel</div>
</div>

<!-- Search hospital (advance send) -->
<div id="searchhospital2" class="ui small modal">
	<div class="ui large text loader"><h3>Searching for a hospital...</h3>Press the ESC key to cancel</div>
</div>

<!-- Not found hospital: key 1 -->
<div id="notfoundhospital" class="ui small modal">
	<i class="close icon"></i>
	<div class="ui icon header">
		<i class="remove circle icon dark-red"></i>
		<div class="content" style="font-size:25px; line-height:30px">
		<div class="dark-red">No Hospitals Found</div>
		<div class="sub header">Do you want to try again?</div>
		</div>
	</div>
	<div class="actions" style="text-align:center;">
	<div id="ok" class="ui green button">Ok</div>
	<div id="cancel" class="ui red button">Cancel</div>
	</div>
</div>

<!-- Found hospital no send info: key 2 -->
<div id="foundhospital" class="ui small modal">
	<i class="close icon"></i>
	<div class="ui icon header">
		<i class="hospital circle icon dark-red"></i>
		<div class="content" style="font-size:25px; line-height:30px">
		<div class="dark-red">Found a hospital!</div>
		<div class="sub header">Here are the details</div>
	</div>
	<div class="ui center aligned segment">
		<div class="ui two column grid">
			<div class="column">
				<b>Name</b>
				<div class="ui sub header">St. Peter's Hospital></div>
			</div>
			<div class="column">
				<b>Name</b>
				<div class="ui sub header">St. Peter's Hospital></div>
			</div>
		</div>
	</div>
	<div class="actions" style="text-align:center;">
	<div id="okfound" class="ui green button">Ok</div>
	<div id="okfound" class="ui green button">Send</div>
	<div id="cancel" class="ui red button">Cancel</div>
	</div>
</div>

<!-- Found hospital with send info: key 3 -->
<div id="foundhospital2" class="ui small modal">
	Hospital found
	<div id="okfound2" class="ui gray button">Ok</div>
	<div id="sendinfo" class="ui green button">Send Info</div>
	<!-- cancel button -->
</div>

<!-- Search ambulance -->
<div id="searchambulance" class="ui small modal">
	<div class="ui text loader">Searching for ambulance</div>
	<!-- cancel button -->
</div>

<!-- Send info -->
<div id="sendinfo" class="ui small modal">
	Ajakfafkasfka
	<div id="okfound" class="ui green button">Ok</div>
	<!-- cancel button -->
</div>


<!-- Transfering -->
<div id="transferring" class="ui small modal">
	<i class="close icon"></i>
	<div class="header">
    Transfer Request
  	</div>
  	<div class="content">
  		<form id="settings" class="ui form" method="POST">
		  <div class="inline field"> {% csrf_token %}
		    <label>From:</label>
		    <input name="address" placeholder="Hospital Name" type="text">
		  </div>
		  <div class="inline field">
		    <label>Case</label>
		    <input name="address" value="Cardiovascular" readonly="" type="text">
		  </div>
		  
		   <div class="ui segment">
    <div class="inline field">
      <div class="ui toggle checkbox">
        <input name="gift" tabindex="0" class="hidden" type="checkbox">
        <label>Need Additional Information</label>
      </div>
    </div>
  </div>
		  
		<div class="actions">
  	<!-- may aayusin pa sa cancel button: magrreset dapat yung form kapag cinancel -->
		    <div class="ui red cancel button">Cancel</div> 
		    <div id="transferringsend" class="ui green submit button">Send</div>
		</div>
  	</div>
		</form>	
	<!-- cancel button -->
</div>
<!-- Additional req -->
<div id="additionalreq" class="ui small modal">
	<i class="close icon"></i>
	<div class="header">
    Additional Request
  	</div>
  	<div class="content">
  		<form id="settings" class="ui form" method="POST">
		  <div class="inline field"> {% csrf_token %}
		    <label>Case</label>
		    <input name="address" value="Cardiovascular" readonly="" type="text">
		  </div>
		  <div class="inline field">
		    <label>Needed Equipment</label>
		    <input name="address" value="Defibrilator" readonly="" type="text">
		  </div>
		  <div class="inline field">
		    <label>Additional Information</label>
		    <input name="address" value="Prognosis" readonly="" type="text">
		  </div>
		  
    </div>
		  
		<div class="actions">
  	<!-- may aayusin pa sa cancel button: magrreset dapat yung form kapag cinancel -->
		    <div class="ui red cancel button">Reject</div> 
		    <div id="transferringsend" class="ui green submit button">Accept</div>
		</div>
  	</div>
		</form>	
</div>

</body>

  <script>
$('.ui.dropdown')
  .dropdown()
;
$("#editsettingsbutton").click(function() { // advance send button
	$('#editsettings').modal('show');		
	$("#sendbutton2").click(function() {
		$('#editsettings').modal('hide');
		$('#searchhospital2').modal('show');		
	});
});

$("#sendbutton").click(function() { // send button lang
	$('#searchhospital').modal('show');		
});

$("#ok").click(function() { // send button lang
	$('#searchhospital').modal('show');	
	$('#notfoundhospital').modal('hide');	
});

$(document).keydown(function(n) { // hospital not found #1
   if (n.keyCode == 49) {
		$('#searchhospital2').modal('hide');
		$('#searchhospital').modal('hide');
		$('#notfoundhospital').modal('show');
   }
});

$(document).keydown(function(n) { // hospital found #2
   if (n.keyCode == 50) {
		$('#searchhospital2').modal('hide');
		$('#searchhospital').modal('hide');
		$('#foundhospital').modal('show');
   }
});

$(document).keydown(function(n) { // hospital found with send info #3
   if (n.keyCode == 51) {
		$('#searchhospital2').modal('hide');
		$('#searchhospital').modal('hide');
		$('#foundhospital2').modal('show');
   }
});


$(document).keydown(function(n) { // transferring shit
   if (n.keyCode == 54) {
		$('#transferring').modal('show');
   }
});

$("#transferringsend").click(function() { // send button lang
	$('#transferring').modal('hide');
	$('#additionalreq').modal('show');
});

$("#additionalreqaccept").click(function() { // send button lang
	$('#additionalreq').modal('hide');
	$('#searchambulance').modal('show');
});
$("#additionalreqreject").click(function() { // send button lang
	$('#additionalreq').modal('hide');
});

$("#okfound").click(function() { // send button lang
	$('#searchambulance').modal('show');		
});

$("#okfound2").click(function() { // send button lang
	$('#searchambulance').modal('show');		
});

$('#yo')
 .checkbox()
 .first().checkbox({
   onChecked: function() {        $("label[for='"+$(this).attr("id")+"']").removeClass('dn').addClass('up').attr('data-content','ON');
   },
   onUnchecked: function() {
     $("label[for='"+$(this).attr("id")+"']").removeClass('up').addClass('dn').attr('data-content','OFF');
   }
})
;

$('.ui.toggle.checkbox')
 .checkbox()
;
</script>

</html>
